@media(min-width:1441px) {
    .container {
        max-width: 90%;
        width: 100%;
        margin: auto;
    }

    .about-text-div-padding-right {
        max-width: 50%;
    }

    .about-us-content-div {
        justify-content: space-between;
    }
}

@media(max-width:1399.98px) {
    .policy-card {
        gap: 20px;
    }

    .key-benefits-slider-btn {
        width: 13%;
    }

    .tabs-main-div {
        gap: 50px;
    }

    .key-benefits-slider {
        padding: 30px 0 110px 0;
    }

    .key-benefits-slider {
        padding: 30px 0 80px 0;
    }

    .contact-main-section {
        padding: 165px 0 55px 0;
    }

    .contact-form {
        margin-top: 110px;
    }

    .contact-div-margin-top {
        margin-top: 110px;
    }

    .conatct-page-title {
        font-size: 70px;
        line-height: 90px;
    }

    .banner-section-title {
        font-size: 65px;
    }

    .section-title {
        font-size: 65px;
    }
}

@media(max-width:1199.98px) {
    .policy-card {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }


    .link-div a {
        font-size: 16px;
    }

    .contact-us-sub-div p {
        font-size: 16px;
    }

    .footer-social-icons svg {
        height: 36px;
        width: auto;
    }

    .footer-social-icons {
        gap: 14px;
    }

    .contact-us-sub-div .connect-text {
        padding-right: 14px;
    }

    .benefits-section-card {
        gap: 24px;
        margin-top: 32px;
    }

    .card-title {
        font-size: 24px;
    }

    .card-use-case-title-text {
        padding: 20px 10px;
    }

    .card-use-case-title-text {
        font-size: 25px;
        line-height: 31px;
    }

    .contact-information {
        gap: 24px;
    }

    .usecases-main .slider-use-case-div {
        min-height: 490px;
    }

    .slider-use-case-div .slider-use-case-sub-slider .btn-know-more {
        margin-top: 0;
    }

    .slider-use-case-div .swiper-slide-active .card-use-case-img {
        height: 337px;
    }

    .slider-use-case-div .swiper-slide-next .card-use-case-sub-div {
        width: 80%;
    }

    .slider-use-case-div .swiper-slide-prev .card-use-case-sub-div {
        width: 80%;
    }

    .tabs-main-div {
        gap: 50px;
    }

    .tans-ul .tabs-li button {
        font-size: 18px;
        line-height: 20px;
    }

    .tans-ul .tabs-li {
        padding: 27px 32px 27px 16px;
    }

    .tabs-content-title {
        font-size: 27px;
        line-height: 32.2px;
    }

    .tabs-content .text-p {
        font-size: 16px;
        line-height: 22.4px;
        margin-top: 15px;
    }

    .tabs-img-div {
        max-width: 290px;
    }

    .key-benefits-slider-btn {
        width: 15%;
    }

    .slider-number-div {
        font-size: 60px;
        line-height: 60px;
    }

    .key-benefits-section .tabs-content-title {
        margin-bottom: 16px;
        height: unset;
    }

    .slider-title-text {
        font-size: 33px;
        line-height: 35.8px;
    }

    .property-and-casualty-main-div {
        align-items: start;
    }

    .popup-container {
        width: 230px;
        height: 130px;
    }

    .popup-closed-btn {
        width: 20px;
        height: 20px;
    }

    .popup-closed-btn i {
        font-size: 8px;
    }

    .aboutus-section h1.page-title-duckreek {
        font-size: 41px;
        margin-bottom: 20px;
    }

    .bg-img-duckreek-section {
        height: 700px;
    }

    .blog-future-img-div {
        height: 400px;
    }

    .section-text-p {
        padding-top: 10px;
    }

    .conatct-page-title {
        font-size: 60px;
        line-height: 80px;
    }

    .contact-main-section {
        padding: 140px 0 50px 0;
    }

    .section-sub-title {
        margin-bottom: 13px;
        font-size: 36px;
        line-height: 44px;
    }

    .contact-information img {
        width: 40px;
        height: 40px;
        margin-bottom: 15px;
    }

    .contact-div-margin-top {
        margin-top: 70px;
    }

    .contact-information-3 {
        margin-top: 40px;
    }

    .aboutus-section h1 {
        font-size: 46px;
        line-height: 64px;
        margin-bottom: 40px;
    }

    .intro-page-banner-section-section {
        height: auto;
        min-height: unset;
    }

    .intro-page-section {
        padding-top: 0;
    }

    .casestudy-detail .lable {
        font-size: 22px;
        margin: 42px 0 12px;
    }

    .casestudy-description .action-one h5,
    .casestudy-detail h1 {
        font-size: 43px;
    }

    .casestudy-detail .date-time h5 {
        font-size: 22px;
    }

    .casestudy-description h5 {
        font-size: 34px;
    }

    .related-insights h5 {
        text-wrap: nowrap;
    }

    .casestudy-detailimg {
        height: 380px;
    }

    .about-text-div-padding-right {
        max-width: 440px;
        width: 100%;
    }

    .faq-setion .accordion-header button {
        font-size: 42px;
        line-height: 56.8px;
        padding: 32px 0;
    }

    .faq-setion .accordion-header button img {
        width: 34px;
        height: 34px;
    }

    .faq-content-main-div {
        gap: 40px;
        padding: 34px 0;
    }

    .faq-content-main-div {
        gap: 10px;
        flex-direction: column;
    }

    .containt-left {
        max-width: unset;
    }

    .containt-right {
        max-width: unset;
    }

    .banner-section-title {
        font-size: 53px;
        line-height: normal;
    }

    .section-title {
        font-size: 53px;
    }

    .policy-card-div {
        margin: 20px 0 0 0;
    }

    .solution-section-img-div {
        margin-top: 0px;
    }

    .solution-sub-div-img img {
        max-width: 170px;
    }

    .reimagining-insurance .section-title-h2 {
        margin-top: 90px;
    }

    .section-title-h2 {
        font-size: 39px;
    }

}

@media(max-width:991.98px) {
    .policy-card {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .policy-card-div {
        margin: 0px 0 0 0;
    }

    .experience-section .text-policy {
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
    }

    .experience-section .btn-requst-demo {
        font-size: 18px;
        font-weight: 600;
        line-height: 36px;
    }

    .blog-future-img-div {
        height: 350px;
    }

    .discovery-phase-chart .apexcharts-canvas {
        height: 370px !important;
    }

    .discovery-phase-chart .apexcharts-legend {
        margin-top: -10px;
    }

    .discovery-phase-chart .apexcharts-svg {
        height: 370px !important;
    }

    .discovery-phase-chart {
        padding-top: 50px;
    }

    .solution-section-img-div .solution-sub-div-img:nth-child(1),
    .solution-section-img-div .solution-sub-div-img:nth-child(3) {
        padding-top: 0px;
    }

    .footer-all-rights-sub-div {
        display: unset;
    }

    .footer-all-rights-sub-div .contact-us-sub-div:last-child {
        margin-bottom: 0px;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    .contact-us-sub-div .connect-text {
        border-right: none;
    }

    .footer-social-icons {
        gap: 18px;
    }

    .footer-social-icons svg {
        height: 36px;
        width: auto;
    }

    .solution-section-img-div {
        gap: 20px;
        padding-top: 20px;
    }

    .benefits-section-card {
        gap: 24px;
    }

    .offcanvas.offcanvas-end {
        padding: 28px 10px 10px 10px;
        background-color: rgba(0, 3, 29, 0.97);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        display: flex;
        margin-top: 0px !important;
        align-items: start;
    }

    .benefits-row-1 {
        gap: 24px;
        grid-template-columns: 1fr 1fr;
    }

    .offcanvas-body {
        padding: 0;
        width: 100%;
    }

    .nav-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100% !important;
    }

    .main-header .navbar-nav .dropdown-menu {
        margin-top: 20px;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .offcanvas-header {
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 28px;
    }

    .btn-close {
        position: absolute;
        top: 36px;
        right: 20px;
        height: 24px;
        width: 41px;
        border: 1px solid #ffffff;
        background: unset;
        opacity: 1;
    }

    .btn-close i {
        font-size: 26px;
        background: linear-gradient(90.01deg, #00FFFF 30.51%, #588DFF 50.04%, #FB537B 72.99%, #F9AF7C 100.99%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .btn-close:hover {
        background: linear-gradient(90.01deg, #00FFFF 30.51%, #588DFF 50.04%, #FB537B 72.99%, #F9AF7C 100.99%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 1;
    }

    .offcanvas-backdrop {
        display: none;
    }

    div#navbarSupportedContent {
        padding: 10px;
        background-color: var(--black-blue);
        width: 100%;
        margin-top: 20px;
    }

    .main-menu-a.active {
        width: fit-content;
    }

    .toggle-btn i {
        background: linear-gradient(90.01deg, #00FFF0 19.51%, #588DFF 43.04%, #FB537B 74.99%, #F9AF7C 99.99%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .toggle-btn {
        border: 1px solid white;
        padding: 8px 18px;
    }

    .toggle-btn i {
        font-size: 24px;
    }

    .text-btn-div .text-div p.text-p {
        padding-top: 20px;
    }

    .section-title {
        font-size: 47px;
        line-height: 78px;
    }


    .card-title {
        font-size: 21px;
        line-height: normal;
    }

    .card-div {
        height: 100%;
    }

    .footer-link-sub-div {
        gap: 175px;
    }

    .text-policy {
        font-size: 17px;
    }

    .business-growth-section .section-title-h2 {
        font-size: 26px;
        line-height: 29px;
    }

    .main-page-header {
        font-size: 40px;
        line-height: 47px;
    }

    section.product-policy-img-section {
        margin-top: 50px;
    }

    .business-growth-section {
        padding: 40px 0;
    }

    .btn-requst-demo {
        font-size: 17px;
        line-height: normal;
    }

    .use-case-section-row {
        padding-bottom: 26px;
    }

    .blog-card-section .about-description {
        height: 112px;
    }

    .aboutus-section h1 {
        font-size: 42px;
        line-height: normal;
    }

    .contact-information {
        flex-wrap: wrap;
    }

    .slider-use-case-div {
        min-height: 522px;
    }

    .slider-use-case-div .swiper-slide-next .card-use-case-sub-div {
        width: 90%;
    }

    .slider-use-case-div .swiper-slide-prev .card-use-case-sub-div {
        width: 90%;
    }

    .tabs-main-div {
        gap: 30px;
    }

    .tabs-main-div {
        flex-direction: column;
    }

    .key-benefits-section .tabs-content-title {
        height: auto;
    }

    .key-benefits-slider-btn {
        width: 17%;
    }

    .key-benefits-section .text-p {
        font-size: 16px;
        line-height: 25.4px;
        color: white;
        font-weight: 400;
    }

    .key-benefits-slider .swiper-button-prev,
    .key-benefits-slider .swiper-button-next {
        padding: 8px;
    }

    .key-benefits-section .swiper-pagination {
        bottom: 20px;
        left: 129px;
    }

    .slider-title-text {
        font-size: 30px;
        line-height: 35.8px;
    }

    .key-benefits-slider {
        padding: 5px 0 80px 0;
    }

    .key-benefits-section-2 {
        padding-top: 30px;
    }

    .about-description {
        margin-bottom: 28px;
    }

    .aboutus-section h1.page-title-duckreek {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .tabs-main-div {
        margin-top: 0px;
    }

    .key-benefits-section-1 {
        padding: 30px 0 30px 0;
    }

    .bg-img-duckreek-section {
        height: unset;
    }

    .key-benefits-section.key-benefits-section-3 {
        padding-top: 30px;
    }

    .key-benefits-section.key-benefits-section-4 {
        padding: 50px 0 50px 0;
    }

    .main-header ul li a {
        width: fit-content;
    }

    .main-header .navbar-nav .dropdown-menu {
        border: none;
    }

    .solution-section .section-title-h2 {
        font-size: 51px;
        line-height: normal;
    }

    .solution-section {
        padding: 16px 0 52px 0;
    }

    .conatct-page-title {
        font-size: 50px;
        line-height: 58px;
    }

    .section-sub-title {
        font-size: 30px;
        line-height: 35px;
    }

    .contact-div-margin-top {
        margin-top: 50px;
    }

    .banner-section-title {
        font-size: 43px;
        font-weight: 500;
        line-height: 54px;
    }

    .text-policy-1 {
        font-size: 30px;
    }

    .policy-card-title {
        font-size: 18px;
    }

    .policy-card-div-10:hover .policy-card-content {
        translate: 0px 124px;
        font-size: 15px;
    }

    .casestudy-detail .lable {
        font-size: 18px;
        line-height: normal;
    }

    .casestudy-description .action-one h5,
    .casestudy-detail h1 {
        font-size: 32px;
        line-height: 52px;
    }

    .casestudy-detail .date-time {
        gap: 36px;
        padding-bottom: 30px;
        margin-bottom: 44px;
    }

    .casestudy-detail .date-time h5 {
        font-size: 18px;
    }

    .casestudy-detail .date-time::after {
        height: 4px;
    }

    .casestudy-description,
    .casestudy-detailimg {
        margin-bottom: 64px;
    }

    .casestudy-description h5 {
        font-size: 28px;
        line-height: normal;
    }

    .casestudy-description p,
    .casestudy-description ul li {
        font-size: 16px;
        line-height: 28px;
    }

    .casestudy-description .action-one {
        padding-block: 28px;
        gap: 24px;
    }

    .casestudy-description .action-one h5 {
        line-height: normal;
        margin-bottom: 14px;
    }

    .related-insights {
        gap: 42px;
    }

    .related-insights a {
        font-size: 18px;
        gap: 18px;
    }

    .about-section .tabs a {
        font-size: 24px;
    }

    .about-section .page-title-duckreek {
        margin-bottom: 13px;
        font-size: 38px;
        line-height: normal;
    }

    .about-description {
        font-size: 16px;
        line-height: 28px;
    }

    .about-us-content-div {
        gap: 25px;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .about-section .tabs {
        padding-top: 0px;
        margin: 0;
    }

    .about-title {
        font-size: 37px;
        line-height: normal;
        margin-bottom: 14px;
    }

    .about-text-div-padding-right {
        max-width: unset;
    }

    .about-square-img {
        order: 1;
        width: 100%;
    }

    .about-square-img img {
        width: 100%;
    }

    .about-us-content-div-2 {
        padding-top: 12px !important;
    }

    .about-us-content-div-2 .about-square-img {
        width: 100%;
    }

    .about-tab-content {
        gap: 40px;
        margin-top: 8px;
    }

    .about-tab {
        padding-bottom: 35px;
        padding-top: 12px;
    }

    .faq-setion .accordion-header button {
        font-size: 32px;
        line-height: normal;
        padding: 28px 0;
    }

    .faq-setion {
        padding-bottom: 24px;
    }

    .benefits-section .section-title {
        margin-top: 40px;
        line-height: normal;
    }

    .card-img {
        height: 50px;
    }

    .card-div {
        padding: 20px 12px;
    }

    .main-div-policyxagi {
        padding-top: 42px;
    }

    .section-title-h2 {
        font-size: 37px;
    }

}

@media(max-width:767.98px) {
    .spacer {
        display: none;
    }

    #video-main {
        height: auto;
        width: auto;
    }

    #ani-video {
        width: 100%;
        height: 450px;
        object-fit: fill;
        transform: scale(1) !important;
    }

    .policy-card {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .policy-card-div {
        margin: 0px 0 0 0;
    }

    .experience-section .text-policy {
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        text-align: center;
    }

    .experience-section .btn-requst-demo {
        font-size: 18px;
        font-weight: 600;
        line-height: 36px;
    }

    .blog-card-main-div {
        margin-top: 40px;
    }

    .benefits-section-card {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .solution-section-img-div .solution-sub-div-img:nth-child(1),
    .solution-section-img-div .solution-sub-div-img:nth-child(3) {
        padding-top: 0px;
    }

    .footer-link-sub-div {
        gap: 40px;
    }

    .link-div a {
        font-size: 18px;
    }

    .contact-us-sub-div p {
        font-size: 18px;
    }

    .footer-social-icons svg {
        height: 38px;
        width: auto;
    }

    .footer-all-rights-div {
        padding: 18px;
    }

    .footer-row {
        padding-top: 32px;
    }

    .footer-all-rights-sub-div .contact-us-sub-div:last-child {
        margin-bottom: 0px;
        justify-content: space-between;
        align-items: center;
    }

    .footer-social-icons {
        gap: 12px;
    }

    .footer-all-rights-sub-div {
        display: unset;
    }

    .footer-row {
        padding: 32px 0 0 0;
    }


    .contact-us-sub-div {
        display: unset;
        margin-bottom: 20px;
    }

    .contact-us-sub-div .connect-text {
        border: none !important;
    }

    .solution-section-img-div {
        gap: 20px;
        padding-top: 0;
    }

    .solution-section {
        padding: 40px 0 40px 0;
    }



    .data-prepration-chart .apexcharts-legend {
        gap: 0px;
    }

    section.about-other-sections {
        margin-top: 250px;
    }

    .about-square-img {
        margin-top: 0;
    }

    .about-square-img-main-div {
        order: -1;
    }

    .collaborative-order {
        order: -1;
    }

    section.product-policy-img-section {
        margin-top: 160px;
    }

    .text-policy {
        font-size: 17px;
    }

    .btn-requst-demo {
        font-size: 17px;
        line-height: 30px;
        padding: 10px 20px;
    }

    .experience-section-main-div {
        padding: 26px;
        border-radius: 20px;
        align-items: center;
    }

    .blog-img {
        max-width: 150px;
        height: auto;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .banner-sectrion-blog .row {
        flex-flow: column-reverse;
    }


    .aboutus-section h1 {
        font-size: 32px;
        margin-bottom: 28px;
    }

    .aboutus-section p {
        font-size: 15px;
    }

    .slider-use-case-div .swiper-slide-active .card-use-case-img {
        height: 296px;
    }

    .slider-use-case-div .swiper-slide-prev .card-use-case-sub-div {
        width: 89%;
        margin-top: 16px;
    }

    .slider-use-case-div .swiper-slide-next .card-use-case-sub-div {
        width: 89%;
        margin-top: 16px;
    }

    .card-use-case-title-text {
        font-size: 19px;
        line-height: 26px;
    }

    .use-case-section .container-fluid {
        padding-top: 40px;
    }

    .slider-use-case-div {
        min-height: 472px;
    }

    .key-benefits-slider-btn {
        width: 23%;
    }

    .slider-number-div {
        font-size: 50px;
        line-height: 50px;
    }

    .key-benefits-section-2 {
        padding-top: 10px;
    }

    .key-benefits-section {
        padding: 20px 0;
    }

    .key-benefits-section .tabs-content-title {
        height: 60px;
    }

    .section-text-p .text-p {
        font-size: 16px;
        line-height: 22.4px;
    }

    .property-and-casualty-main-div {
        flex-direction: column;
    }

    .property-and-casualty-div-content .text-p:not(:last-child) {
        margin-bottom: 11px;
    }

    .property-and-casualty-img-div {
        width: 164px;
    }

    .aboutus-section h1.page-title-duckreek {
        font-size: 36px;
        margin-bottom: 0px;
    }

    .key-benefits-section-1 {
        padding: 349px 0 30px 0;
    }

    .key-benefits-section-1 {
        padding: 30px 0 30px 0;
    }

    .key-benefits-section.key-benefits-section-4 {
        padding: 30px 0 30px 0;
    }

    .solution-section .section-title-h2 {
        font-size: 40px;
    }

    .card-title {
        font-size: 24px;
        line-height: 33px;
    }

    .section-title {
        font-size: 36px;
        line-height: normal;
    }

    .banner-section-title {
        font-size: 39px;
        line-height: 45px;
    }

    .benefits-row-1 .benefits-column img {
        height: 50px;
        width: auto;
    }

    .benefits-row-1 {
        gap: 16px;
        grid-template-columns: 1fr 1fr;
    }

    .conatct-page-title {
        font-size: 40px;
        line-height: 51px;
    }

    .contact-main-section {
        padding: 120px 0 30px 0;
    }

    .section-sub-title {
        font-size: 26px;
        line-height: 30px;
    }

    .text-p-18 {
        font-size: 16px;
        line-height: 26.4px;
    }

    .intro-imf-div img {
        border-radius: 15px;
    }

    .usecases-main .slider-use-case-div {
        min-height: 444px;
    }

    .related-insights {
        flex-direction: column;
        gap: 0;
    }

    .casestudy-detailimg {
        height: 280px;
    }

    .casestudy-detail h1 {
        font-size: 28px;
    }

    .casestudy-description h5,
    .casestudy-description .action-one h5 {
        font-size: 24px;
    }

    .about-section .tabs a {
        font-size: 21px;
        padding: 11px 6px;
    }

    .about-sub-section .about-us-content-div {
        padding-top: 0px;
    }

    .about-description {
        line-height: 20px;
    }

    .about-us-content-div-2 {
        padding-top: 0px !important;
    }

    .about-tab-content {
        gap: 0px;
        margin-top: 0px;
        flex-direction: column;
    }

    .faq-setion .accordion-header button {
        font-size: 22px;
        padding: 18px 0;
    }

    .faq-content-main-div {
        padding: 24px 0;
    }

    .faq-setion .accordion-header button img {
        width: 24px;
        height: 24px;
    }

    .business-growth-section-img {
        max-width: 299px;
        margin: auto;
    }

    .title-32 {
        font-size: 22px;
    }

}

@media(max-width:575.98px) {
    .policy-card {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .policy-card-div {
        margin: 0px 0 0 0;
    }

    .benefits-section-card {
        display: grid;
        gap: 12px;
        grid-template-columns: 1fr 1fr;
    }

    .link-div a {
        font-size: 16px;
    }

    .footer-social-icons svg {
        height: 34px;
        width: auto;
    }

    .footer-all-rights-div {
        padding: 12px;
    }

    .footer-all-rights-sub-div .contact-us-sub-div {
        margin-bottom: 20px;
    }

    .footer-row {
        padding-top: 32px;
    }

    .footer-all-rights-sub-div .contact-us-sub-div:last-child {
        display: unset !important;
        margin-bottom: 20px;
    }


    .footer-social-icons {
        gap: 12px;
    }

    .footer-all-rights-sub-div {
        display: unset;
    }

    .footer-row {
        padding: 32px 0 0 0;
    }


    .contact-us-sub-div {
        display: unset;
        margin-bottom: 20px;
    }

    .contact-us-sub-div .connect-text {
        margin-bottom: 20px;
        border: none !important;
    }

    .contact-us-sub-div p {
        font-size: 16px;
    }

    .discovery-phase-chart .apexcharts-canvas {
        height: 370px !important;
    }

    .discovery-phase-chart .apexcharts-legend {
        margin-top: 0px;
    }

    .discovery-phase-chart .apexcharts-svg {
        height: 370px !important;
    }

    .discovery-phase-chart {
        padding-top: 50px;
    }


    .banner-section-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.4;
        padding: 0 12px !important;
    }

    .text-btn-div {
        padding-top: 19px;
    }

    .site-logo {
        max-width: 160px;
    }

    .section-title-h2 {
        font-size: 24px;
    }

    .text-p {
        font-size: 14px;
    }

    .benefits-icon img {
        max-width: 48px;
    }

    .icon-name-text {
        font-size: 16px;
    }

    .section-title {
        font-size: 25px;
    }

    .benefits-sub-div {
        padding: 24px 12px 25px 12px;
    }

    .card-title {
        font-size: 24px;
        line-height: 28px;
    }

    .card-img {
        width: auto;
        height: 48px;
    }

    .text-policy {
        font-size: 17px;
        line-height: normal;
    }

    .policy-card-title {
        font-size: 20px;
        line-height: 23px;
    }

    .policy-card-div {
        height: 400px;
    }

    .footer-link-sub-div {
        flex-direction: column;
        gap: 20px;
    }

    .solution-section {
        padding: 40px 0 40px 0;
    }

    .solution-section-img-div {
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 0;
    }

    .solution-section-img-div .solution-sub-div-img:nth-child(1),
    .solution-section-img-div .solution-sub-div-img:nth-child(3) {
        padding-top: 0;
    }

    .solution-sub-div-img img {
        height: 100px;
    }

    .play-btn {
        width: 40px;
        height: 40px;
    }

    .play-btn i {
        font-size: 21px;
    }

    .footer-link-title {
        font-size: 22px;
        line-height: 22px;
    }

    .about-description {
        font-size: 14px;
    }

    .about-section h4 {
        font-size: 20px;
    }

    .about-title {
        font-size: 28px;
        line-height: 28.4px;
        margin-bottom: 18px;
    }

    .about-square-img {
        height: unset;
    }

    .about-section {
        min-height: 678px;
    }

    .we-do-are {
        margin-bottom: 0px;
    }

    .main-page-header {
        font-size: 30px;
        line-height: 33px;
    }

    .product-policy .section-title-h2 {
        font-size: 24px;
        line-height: 28px;
    }

    .card-use-case-img {
        max-width: unset;
    }

    .experience-section .text-policy br {
        display: none;
    }

    .blog-card-section .about-description {
        height: unset;
        padding-bottom: 10px;
    }

    .blog-future-img-div {
        max-width: unset;
        height: 250px;
        object-fit: cover;
        object-position: center;
    }

    .blog-card-section {
        margin-top: 50px;
    }

    .bog-card-cotent {
        padding: 0 16px 0px 16px;
    }

    .blog-reade-time {
        padding-bottom: 20px;
        font-size: 14px;
    }

    .pagination {
        margin-bottom: 22px;
    }

    .aboutus-section h1 {
        font-size: 32px;
        margin-bottom: 22px;
        line-height: 44px;
    }

    .aboutus-section p {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 18px;
    }

    .faq-accordion .accordion-button {
        font-size: 14px;
        gap: 8px;
        padding: 8px 12px;
    }

    .faq-accordion .accordion-body {
        padding: 16px 16px 8px;
    }

    .faq-accordion ul {
        padding-left: 16px;
    }

    .faq-accordion h5,
    .faq-accordion ul li {
        font-size: 14px;
    }

    .get-touch-section-title {
        font-size: 24px;
        line-height: normal;
        padding: 24px 0 34px;
    }

    .btn-outline-light {
        padding: 10px 23px;
    }

    .contact-form .form-control {
        padding: 12px;
    }

    .card-use-case-title-text {
        font-size: 17px;
        line-height: 22px;
    }

    .card-use-case-title-text {
        padding: 13px 10px;
    }

    .slider-use-case-div .swiper-slide-active .card-use-case-img {
        height: 216px;
    }

    .slider-use-case-div .swiper-slide-prev .card-use-case-img {
        height: 175px;
    }

    .slider-use-case-div .swiper-slide-next .card-use-case-img {
        height: 175px;
    }

    .slider-use-case-div .swiper-button-next {
        padding: 5px;
    }

    .slider-use-case-div .swiper-button-prev {
        padding: 5px;
    }

    .slider-btn {
        display: none;
    }

    .slider-use-case-div {
        min-height: 375px;
    }


    .slider-use-case-div {
        padding: 24px 0 34px 0;
    }

    .tans-ul .tabs-li button {
        font-size: 14px;
        line-height: 16px;
        text-align: start;
    }

    .tans-ul .tabs-li {
        padding: 0;
    }

    .tabs-main-div {
        margin-top: 10px;
    }

    .tabs-main-div {
        gap: 15px;
    }

    .tabs-content-title {
        font-size: 19px;
        line-height: normal;
    }

    .tabs-content .text-p {
        font-size: 14px;
        line-height: 20.4px;
        margin-top: 12px;
    }

    .slider-title-text {
        font-size: 25px;
        line-height: normal;
    }

    .key-benefits-section .tabs-content-title {
        height: unset;
        margin-bottom: 0;
    }

    .key-benefits-slider-btn {
        width: 110px;
    }

    .key-benefits-slider .swiper-button-prev,
    .key-benefits-slider .swiper-button-next {
        padding: 6px;
    }

    .key-benefits-section .text-p {
        font-size: 14px;
        line-height: normal;
        margin-top: 5px;
    }

    .section-text-p .text-p {
        font-size: 14px;
        line-height: 16px;
    }

    .popup-container {
        width: 120px;
        height: 70px;
    }

    .btn-requst-demo {
        font-size: 13px;
        line-height: 24px;
        padding: 10px 20px;
    }

    .aboutus-section h1.page-title-duckreek {
        font-size: 34px;
        line-height: normal;
    }

    .key-benefits-section-1 {
        padding: 260px 0 30px 0;
    }

    .bg-img-duckreek-section {
        height: unset;
    }

    .key-benefits-section-1 {
        padding: 38px 0 30px 0;
    }

    .slider-number-div {
        font-size: 44px;
        line-height: normal;
    }

    .solution-section .section-title-h2 {
        font-size: 32px;
        margin-bottom: 20px;
        line-height: 40px;
    }

    .card-title {
        font-size: 24px;
        line-height: 33px;
    }

    .conatct-page-title {
        font-size: 32px;
        line-height: 44px;
    }

    .section-sub-title {
        font-size: 23px;
        line-height: 26px;
        margin-bottom: 5px;

    }

    .contact-information img {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .text-p-18 {
        font-size: 14px;
        line-height: 22.4px;
    }

    .form-group.form-input-group {
        flex-direction: column;
        gap: 10px;
    }

    .contact-form .form-group {
        margin-bottom: 10px;
    }

    .intro-page-banner-section-section {
        min-height: unset;
    }

    .intro-page-section .text-p {
        font-size: 14px;
        line-height: 25px;
        margin-top: 15px;
    }

    .intro-imf-div img {
        border-radius: 10px;
    }

    .benefits-section .row {
        padding: 0 10px;
        grid-template-columns: 1fr;
    }

    .benefits-row-1 .benefits-column img {
        height: 45px;
        width: auto;
    }

    .home-baaner-section {
        padding: 116px 0 195px 0;
    }

    .product-policy {
        min-height: unset;
        height: auto;
        margin-bottom: auto;
    }

    section.product-policy-img-section {
        margin-top: 50px;
    }

    .about-text-div-padding-right {
        padding-right: 12px;
    }

    .about-text-div-padding-left {
        padding-left: 12px;
    }

    .use-case-card-section .policy-card-div {
        max-width: 264px;
    }

    .usecases-main .page-title-duckreek {
        margin-bottom: 32px;
        font-size: 34px;
        text-align: center;
        line-height: normal;
    }

    .usecases-main .slider-use-case-div {
        min-height: 353px;
        padding: 24px 24px 32px;
    }

    .use-case-card-section.banner-sectrion-blog {
        margin-bottom: 34px;
    }

    .casestudy-detail .lable {
        font-size: 16px;
        margin-top: 28px;
    }

    .casestudy-detail h1 {
        font-size: 22px;
        line-height: normal;
        margin-bottom: 28px;
    }

    .casestudy-detail .date-time {
        flex-direction: column;
        gap: 4px;
        padding-bottom: 12px;
        margin-bottom: 28px;
    }

    .casestudy-detail .date-time h5 {
        font-size: 16px;
    }

    .casestudy-detailimg {
        height: 200px;
        margin-bottom: 34px;
    }

    .casestudy-detail.section-full-bg::before {
        min-height: 570px;
    }

    .casestudy-description h5,
    .casestudy-description .action-one h5 {
        font-size: 18px;
    }

    .casestudy-description p,
    .casestudy-description ul li {
        font-size: 14px;
        line-height: normal;
    }

    .casestudy-description .action-one {
        gap: 12px;
    }

    .related-insights a {
        margin-top: 8px;
        font-size: 14px;
        gap: 8px;
    }

    .casestudy-description,
    .casestudy-detailimg {
        margin-bottom: 42px;
    }

    .about-section .page-title-duckreek {
        margin-bottom: 13px;
        font-size: 30px;
        line-height: normal;
    }

    .about-section {
        position: relative;
        padding: 109px 0 48px 0;
    }

    .about-description {
        margin-bottom: 0px;
    }

    .about-us-content-div {
        padding-bottom: 28px;
    }

    .about-sub-section {
        padding-top: 28px;
    }

    .about-section .tabs a {
        font-size: 13px;
        padding: 05px 6px;
    }

    .about-section {
        padding: 110px 0 11px 0;
    }

    .about-section .tabs {
        flex-wrap: wrap;
    }

    .faq-setion button span {
        margin-right: 10px;
    }

    .faq-setion .accordion-header button {
        font-size: 18px;
        padding: 15px 0;
    }

    .title-32 {
        font-size: 18px;
    }

    .faq-content-main-div .text-p-18 {
        margin-bottom: 12px;
    }

    .main-header {
        padding: 24px 12px;
    }

    .benefits-section .section-title {
        margin-top: 16px;
    }

    .reimagining-insurance .section-title-h2 {
        margin-top: 40px;
    }

    .we-serve .we-serve-sub-div-title {
        font-size: 18px;
        font-weight: 300;
    }

}

@media(max-width:480.98px) {
    .policy-card {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .solution-section-img-div {
        gap: 16px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .solution-sub-div-img img {
        height: 70px;
    }

    .discovery-phase-chart .apexcharts-canvas {
        height: 370px !important;
    }

    .discovery-phase-chart .apexcharts-legend {
        margin-top: -50px;
    }

    .discovery-phase-chart .apexcharts-svg {
        height: 370px !important;
    }

    .discovery-phase-chart {
        padding-top: 70px;
    }

    .data-prepration-chart .apexcharts-legend {
        display: none !important;
    }

}

@media (max-width: 360px) {
    .policy-card {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .data-prepration-chart .apexcharts-legend {
        display: none !important;
    }

    .discovery-phase-chart .apexcharts-canvas {
        height: 320px !important;
    }

    .discovery-phase-chart .apexcharts-legend {
        margin-top: -60px;
    }

    .discovery-phase-chart .apexcharts-svg {
        height: 320px !important;
    }

    .discovery-phase-chart {
        padding-top: 70px;
    }

    .benefits-section-card {
        display: grid;
        gap: 12px;
        grid-template-columns: 1fr;
    }

    .solution-section-img-div .solution-sub-div-img:nth-child(1),
    .solution-section-img-div .solution-sub-div-img:nth-child(3) {
        padding-top: 0;
    }

    .footer-social-icons svg {
        height: 34px;
        width: auto;
    }

    .solution-section {
        padding: 40px 0 40px 0;
    }

    .solution-section-img-div {
        display: grid;
        gap: 12px;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 0;
    }

    .footer-all-rights-sub-div .contact-us-sub-div {
        margin-bottom: 20px;
    }

    .footer-row {
        padding-top: 32px;
    }

    .footer-all-rights-sub-div .contact-us-sub-div:last-child {
        display: unset !important;
        margin-bottom: 20px;
    }

    .contact-us-sub-div p {
        font-size: 16px;
    }

    .footer-social-icons {
        gap: 12px;
    }

    .solution-sub-div-img img {
        height: 80px;
    }

    .link-div a {
        font-size: 16px;
    }

    .footer-all-rights-div {
        padding: 12px;
    }

    .benefits-icon img {
        max-width: 40px;
    }

    .discovery-phase-chart .apexcharts-canvas {
        height: 400px !important;
    }

    .discovery-phase-chart .apexcharts-svg {
        height: 400px !important;
    }

    .discovery-phase-chart .discovery-phase-chart {
        margin-bottom: -50px !important;
    }

    .faq-setion .accordion-header button {
        font-size: 14px;
        padding: 12px 0;
    }

    .text-p-18 {
        font-size: 12px;
        line-height: normal;
    }
}